.traffic-item-wrap{
    width: 100%;
    .inner{
        padding: 117px 0;
    }
}
.items{
    @include flexbox(normal);
        flex-flow: row wrap;
        row-gap: 30px;
        column-gap: 2.6%;
}
.traffic-item{
    width: 31.6%;
    box-shadow: 0px 2px 3px 0px $secondary-light;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
        box-shadow: 0px 7px 10px 4px $secondary-light;
    }
    .thumb{
        img{
            width: 100%;
        }
    }
    .content{
        padding: 50px 20px;
        span{
            font-weight: 300;
            font-size: 14px;
            color: $secondary-light;
        }
        h4{
            font-weight: 400;
            font-size: 18px;
            color: $secondary;
            padding-top: 20px;
        }
        p{
            font-weight: 300;
            font-size: 15px;
            color: $secondary-light;
            padding-top: 30px;
        }
    }
}
.learn-more-btn{
    width: 86px;
    margin: 0 auto;
    @include flexbox(space-between);
    padding-top: 50px;
    a{
        color: $primary;
        font-weight: 600;
        font-size: 14px;
    }
}


// responsive==========================================================

@media only screen and (max-width: 768px){

    .traffic-item{
        width: 48%;
    }
    .traffic-item-wrap{
        .inner{
            padding: 50px 0;
        }
    }
    .items{
        column-gap: 4%;
    }
}
@media only screen and (max-width: 520px){

    .traffic-item{
        width: 100%;
    }
}