// theme colors
$white: #ffffff;
$black: #000000;
$primary: #06d6a0;
$secondary: #373737;
$gray: #999999;
$secondary-light: #a7a7a7;
$inputcolor: #f6f6f6;
$copyright-bg: #f7f7f7;

$btn-hover-bg: $secondary;
$btn-hover-color: $white;


// typography
$base-text-size: 16px;
$heading-one: 36px;
$heading2: 24px;