@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 320px;
}
main{
    font-family: 'Khula', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.clear::after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0;
}
.inner{
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 20px;
    clear: both;
}
a{
    text-decoration: none;
    color: $white;
}
